<!-- <div class="post post-card post-profile">
  <div class="post-header">
    <div>
      <a href="profile.html">
      <img src="img/user/avatar-sm.jpg" alt="">
    </a>
    </div>
    <div>
      <h2 class="post-title">
        <a href="profile.html">User</a>
      </h2>
      <div class="post-meta">
        <span><i class="fa fa-clock-o"></i> Апрель 13, 2018</span>
      </div>
      <div class="dropdown float-right">
        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-chevron-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Удалить</a>
        </div>
      </div>
    </div>
  </div>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, iste? Quod, architecto?</p>
  <div class="post-thumbnail">
    <img src="assets/img/profile/profile-1.jpg" alt="">
  </div>
</div>
<div class="text-center">
  <a href="#" class="btn btn-primary btn-shadow btn-rounded btn-effect btn-lg m-b-20">Все посты</a>
</div> -->
