<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-1 hidden-md-down">
        <div class="widget widget-share" data-fixed="widget">
          <div class="widget-block">
            <a class="btn btn-social btn-facebook btn-circle" href="#" data-toggle="tooltip" title="Поделись в Facebook" data-placement="right" role="button"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" title="Поделись в Twitter" data-placement="right" role="button"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="Поделись в Google Plus" data-placement="right" role="button"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-social btn-vk btn-circle" href="#" data-toggle="tooltip" title="Поделись в ВК" data-placement="right" role="button"><i class="fa fa-vk"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-10" *ngIf="article">
        <div class="post post-single">
          <h2 class="post-title">{{ article.title }}</h2>
          <div class="post-meta">
            <span>
              <i class="fa fa-clock-o"></i>{{ article.createdDate | dateConverter }} |
              <i class="fa fa-user"></i><a href="#">{{ article.user.login }}</a>
            </span>
          </div>
          <div class="post-thumbnail">
            <img [src]="article.image" [alt]="article.title">
          </div>
          <div [innerHtml]="article.text"></div>
        </div>
        <div class="post-actions">
          <div class="social-share">
            <a class="btn btn-social btn-facebook btn-circle" href="#" data-toggle="tooltip" title="Поделись в Facebook" data-placement="bottom" role="button"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" title="Поделись в Twitter" data-placement="bottom" role="button"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="Поделись в Google Plus" data-placement="bottom" role="button"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-social btn-vk btn-circle" href="#" data-toggle="tooltip" title="Поделись в VK" data-placement="bottom" role="button"><i class="fa fa-vk"></i></a>
          </div>
        </div>
        <ify-last-news-bottom></ify-last-news-bottom>
        <ify-comments [postId]="article.id" [type]="type"></ify-comments>
      </div>
    </div>
  </div>
</section>
