<section *ngIf="video" class="bg-image" style="background-image: url('{{ video.image }}');">
  <div class="overlay-light"></div>
  <div class="container">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" [src]="videoUrl" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section *ngIf="video">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="post post-single">
          <div class="post-header">
            <div>
              <a href="#"><img src="assets/img/user/user-1.jpg" alt=""></a>
            </div>
            <div>
              <h2 class="post-title">{{ video.title }}</h2>
              <div class="post-meta">
                <span>
                  <i class="fa fa-clock-o"></i>{{ video.createdDate | dateConverter }} | <i class="fa fa-user"></i><a href="#">{{ video.user.login }}</a>
                </span>
              </div>
            </div>
          </div>
          <div [innerHtml]="video.text"></div>
        </div>
        <div class="post-actions">
          <div class="post-tags">
            <a href="#">#tag1</a>
            <a href="#">#tag2</a>
            <a href="#">#tag3</a>
            <a href="#">#tag4</a>
          </div>
          <div class="social-share">
            <a class="btn btn-social btn-facebook btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on facebook"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on twitter"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on google-plus"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-social btn-vk btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on google-plus"><i class="fa fa-vk"></i></a>
          </div>
        </div>
        <div id="comments" class="comments anchor">
          TODO COMMENTS
        </div>
      </div>
      <div class="col-lg-3">
        <div class="sidebar">
            <ify-vk-group-widget></ify-vk-group-widget>
            <ify-last-news-widget></ify-last-news-widget>
            <ify-last-articles-widget></ify-last-articles-widget>
        </div>
      </div>
    </div>
  </div>
</section>
