<section *ngIf="video" class="bg-image" [style.background]="'url(' + video.image + ')'">
  <div class="overlay-light"></div>
  <div class="container">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" [src]="videoUrl" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section *ngIf="video">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="post post-single">
          <h2 class="post-title">{{ video.title }}</h2>
          <div class="post-meta">
            <span><i class="fa fa-clock-o"></i> {{ video.createdDate | dateConverter }}</span>
            <span><i class="fa fa-user"></i><a href="#">{{ video.user.login }}</a></span>
          </div>
          <div [innerHtml]="video.text"></div>
        </div>
        <div class="post-actions">
          <div class="social-share">
            <a class="btn btn-social btn-facebook btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on facebook"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on twitter"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on google-plus"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-social btn-vk btn-circle" href="#" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on google-plus"><i class="fa fa-vk"></i></a>
          </div>
        </div>
        <ify-comments [postId]="video.id" [type]="type"></ify-comments>
      </div>
      <div class="col-lg-3">
        <div class="sidebar">
            <ify-vk-group-widget></ify-vk-group-widget>
            <ify-last-news-widget></ify-last-news-widget>
            <ify-last-articles-widget></ify-last-articles-widget>
        </div>
      </div>
    </div>
  </div>
</section>
