<section>
  <div class="container">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
      <div class="modal-header">
        <h4 class="modal-title">Создание и редактирование поста блога</h4>
      </div>
      <div class="modal-body">
        <div class="from-group" *ngIf="blog && blog.id">
          <label class="form-control-label" for="id">ID</label>
          <input type="text" class="form-control" id="id" name="id" [(ngModel)]="blog.id" readonly />
        </div>
        <div class="form-group">
          <label class="form-control-label" for="title">Название</label>
          <input type="text" class="form-control" id="title" name="title" [(ngModel)]="blog.title" />
        </div>
        <div class="form-group">
          <label class="form-control-label" for="image">Картинка</label>
          <input type="file" accept="image/*" (change)="saveImg($event)" class="form-control" id="image" name="image" />
          <div *ngIf="blog.image">
            <div class="post post-card">
              <div class="post-thumbnail">
                <img [src]="blog.image">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="category">Категория</label>
          <select class="form-control" id="category" name="category" [(ngModel)]="blog.category">
            <option [ngValue]="null"></option>
            <option
              *ngFor="let category of categories"
              [ngValue]="category"
            >{{ category.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="text">Текст</label>
          <textarea type="text" class="form-control" id="text" name="text"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
          <span class="fa fa-save"></span>&nbsp;<span>Сохранить</span>
        </button>
      </div>
    </form>
  </div>
</section>
