<div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
  <div class="post post-card">
    <h2 class="post-title">Смена пароля</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="post-thumbnail">
        <div
          class="form-group input-icon-left m-b-10"
          [ngClass]="{'form-group has-danger': form.get('password').invalid && form.get('password').touched}"
        >
          <i class="fa fa-lock"></i>
          <input
            type="password"
            class="form-control form-control-secondary"
            formControlName="password"
            placeholder="Новый пароль"
          >
          <div
            class="alert alert-danger m-b-0" role="alert"
            *ngIf="form.get('password').invalid && form.get('password').touched"
          >
            <span *ngIf="form.get('password')['errors']['required']">Пароль не может быть пустым</span>
            <span *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
              Пароль должен быть больше {{ form.get('password')['errors']['minlength']['requiredLength'] }} символов.
              Сейчас <strong>{{ form.get('password')['errors']['minlength']['actualLength'] }}</strong>
            </span>
          </div>
        </div>
        <div
          class="form-group input-icon-left m-b-10"
          [ngClass]="{'form-group has-danger': form.get('repeat-password').touched && form.get('password').value !== form.get('repeat-password').value}"
        >
          <i class="fa fa-unlock"></i>
          <input
            type="password"
            class="form-control form-control-secondary"
            formControlName="repeat-password"
            placeholder="Повторение пароля"
          >
          <div
            class="alert alert-danger m-b-0" role="alert"
            *ngIf="form.get('repeat-password').touched && form.get('password').value !== form.get('repeat-password').value"
          >
            Пароли не совпадают
          </div>
        </div>
      </div>
      <div class="post-footer">
        <button
          type="submit"
          class="btn btn-primary m-t-10 btn-block"
          [disabled]="form.invalid || form.get('password').value !== form.get('repeat-password').value"
        >
          Сохранить
        </button>
      </div>
    </form>
  </div>
</div>
