<header id="header">
  <div class="container">
    <div class="navbar-backdrop">
      <div class="navbar">
        <div class="navbar-left">
          <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
          <a [routerLink]="''" class="logo"><img src="assets/img/logo.png" alt="IdeaForYou"></a>
          <nav class="nav">
            <ul>
              <li><a [routerLink]="''">Главная</a></li>
              <li><a [routerLink]="'news'">Новости</a></li>
              <li><a [routerLink]="'article'">Статьи</a></li>
              <li><a [routerLink]="'video'">Видео</a></li>
              <li class="has-dropdown" *ifyHasAnyAuthority="'ROLE_MODERATOR'">
                <a href="#">Модерирование</a>
                <ul>
                  <li><a [routerLink]="'/moderator/news'">Новости</a></li>
                  <li><a [routerLink]="'/moderator/news/create'">Создание новости</a></li>
                  <li><a [routerLink]="'/moderator/article'">Статьи</a></li>
                  <li><a [routerLink]="'/moderator/article/create'">Создание статьи</a></li>
                  <li><a [routerLink]="'/moderator/video'">Видео</a></li>
                  <li><a [routerLink]="'/moderator/video/create'">Создание видео</a></li>
                </ul>
              </li>
              <li class="has-dropdown" *ifyHasAnyAuthority="'ROLE_ADMIN'">
                <a href="#">Администрирование</a>
                <ul>
                  <li><a [routerLink]="'/admin/user-management'">Пользователи</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="nav navbar-right">
          <ul>
            <li *ngIf="!isAuthenticated()" class="hidden-xs-down"><a [routerLink]="'login'">Логин</a></li>
            <li *ngIf="!isAuthenticated()" class="hidden-xs-down"><a [routerLink]="'register'">Регистрация</a></li>
            <li *ngIf="isAuthenticated()" class="hidden-xs-down"><a role="button" (click)="logout()">Выйти</a></li>
            <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-search">
      <div class="container">
        <form method="post">
          <input type="text" class="form-control" placeholder="Поиск...">
          <i class="fa fa-times close"></i>
        </form>
      </div>
    </div>
  </div>
</header>
