<section class="toolbar">
  <div class="container">
    <h5><i class="fa fa-film"></i> Новости <span>{{ totalItems }}</span></h5>
    <form method="post">
      <div class="form-group input-icon-right">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control search-video form-control-secondary" id="search" placeholder="Поиск...">
      </div>
    </form>
    <a class="btn btn-default btn-icon m-r-10 float-right hidden-sm-down" href="#" data-toggle="tooltip" title="refresh" data-placement="bottom" role="button"><i class="fa fa-refresh"></i></a>
  </div>
</section>

<section>
  <div class="container">
    <ify-loader *ngIf="news === undefined"></ify-loader>
    <div class="row">
      <div class="col-lg-8">
        <div class="post post-md" *ngFor="let n of news">
          <div class="post-thumbnail">
            <a [routerLink]="['/news', n.id]">
              <img [src]="n.image" [alt]="n.title">
            </a>
          </div>
          <div class="post-block">
            <h2 class="post-title">
              <a [routerLink]="['/news', n.id]">{{ n.title }}</a>
            </h2>
            <div class="post-meta">
                <span><i class="fa fa-clock-o"></i> {{ n.createdDate | dateConverter }}</span>
                <span><i class="fa fa-user"></i> <a href="#">{{ n.user.login }}</a></span>
                <span><i class="fa fa-tag"></i> {{ n.category.name }}</span>
              </div>
            <p [innerHtml]="n.text | textSlicer"></p>
          </div>
        </div>
        <div class="pagination-results m-t-10" *ngIf="news && news.length">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="page"
            [pageSize]="postsPerPage"
            [maxSize]="5"
            (pageChange)="loadPage(page)"
          ></ngb-pagination>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <ify-vk-group-widget></ify-vk-group-widget>
          <ify-last-video-widget></ify-last-video-widget>
          <ify-last-articles-widget></ify-last-articles-widget>
        </div>
      </div>
    </div>
  </div>
</section>
