<section class="toolbar">
  <div class="container">
    <h5><i class="fa fa-film"></i> Статьи <span>{{ totalItems }}</span></h5>
    <form method="post">
      <div class="form-group input-icon-right">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control search-video form-control-secondary" id="search" placeholder="Поиск...">
      </div>
    </form>
    <a class="btn btn-default btn-icon m-r-10 float-right hidden-sm-down" href="#" data-toggle="tooltip" title="refresh" data-placement="bottom" role="button"><i class="fa fa-refresh"></i></a>
  </div>
</section>

<section>
  <div class="container">
    <div class="row row-5">
      <div class="col-12 col-sm-6 col-md-3" *ngFor="let a of articles">
        <div class="card card-block">
          <div class="card-img">
            <a [routerLink]="['/article', a.id]">
              <img src="https://i.ytimg.com/vi/GaERL8Nrl9k/mqdefault.jpg" class="card-img-top" [alt]="a.title">
            </a>
            <span class="badge badge-info">{{ a.category.name }}</span>
          </div>
          <div class="card-block">
            <h4 class="card-title"><a [routerLink]="['/article', a.id]">{{ a.title }}</a></h4>
            <div class="card-meta">
              <span><i class="fa fa-clock-o"></i> {{ a.createdDate | dateConverter }}</span>
            </div>
            <p [innerHtml]="a.text | textSlicer"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination-results m-t-10" *ngIf="articles && articles.length">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="postsPerPage"
        [maxSize]="5"
        (pageChange)="loadPage(page)"
      ></ngb-pagination>
    </div>
  </div>
</section>
