<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <h4 class="footer-title">IdeaForYou</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorum, exercitationem inventore laudantium maxime nisi?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eaque, incidunt ipsa laboriosam odit rerum voluptas?</p>
      </div>
      <div class="col-sm-12 col-md-3">
        <h4 class="footer-title">Контент</h4>
        <div class="row">
          <div class="col">
            <ul>
              <li><a [routerLink]="'news'">Новости</a></li>
              <li><a [routerLink]="'article'">Статьи</a></li>
              <li><a [routerLink]="'video'">Видео</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <h4 class="footer-title">Подписка</h4>
        <p>Подписка на новостную рассылку</p>
        <div class="input-group m-t-25">
          <input type="text" class="form-control" placeholder="Email">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Подписаться</button>
          </span>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-social">
        <a href="#" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-vk"></i></a>
        <a href="#" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
        <a href="#" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
        <a href="#" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
      </div>
      <p>Copyright &copy; {{ year }} <a href="#" target="_blank">IdeaForYou</a>. Никакие права не защищены</p>
    </div>
  </div>
</footer>
