<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8" *ngIf="news">
        <div class="post post-single">
          <h2 class="post-title">{{ news.title }}</h2>
          <div class="post-meta">
            <span><i class="fa fa-clock-o"></i> {{ news.createdDate | dateConverter }}</span>
            <span><i class="fa fa-user"></i><a href="#">{{ news.user.login }}</a></span>
          </div>
          <div class="post-thumbnail">
            <img src="assets/img/blog/blog-md.jpg" [alt]="news.title">
          </div>
          <div [innerHtml]="news.text"></div>
        </div>

        <div class="post-actions">
          <div class="post-tags">
            <a href="#">#TAG</a>
            <a href="#">#TAG</a>
            <a href="#">#TAG</a>
            <a href="#">#TAG</a>
          </div>
          <div class="social-share">
            <a class="btn btn-social btn-facebook btn-circle" href="#" data-toggle="tooltip" title="Поделись в Facebook" data-placement="bottom" role="button"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" title="Поделись в Twitter" data-placement="bottom" role="button"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="Поделись в Google Plus" data-placement="bottom" role="button"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-social btn-vk btn-circle" href="#" data-toggle="tooltip" title="Поделись в VK" data-placement="bottom" role="button"><i class="fa fa-vk"></i></a>
          </div>
        </div>
        <div id="comments" class="comments anchor">
          TODO COMMENTS
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <ify-vk-group-widget></ify-vk-group-widget>
          <ify-last-video-widget></ify-last-video-widget>
          <ify-last-news-widget [currentNews]="news"></ify-last-news-widget>
        </div>
      </div>
    </div>
  </div>
</section>
